@{
    this.ViewData["Title"] = "Game History";
}

@model GameAnalyzeResultViewModel
<style>
    body {
    }
</style>
<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />

@Html.AntiForgeryToken()

<div class="row" style="margin-top: 25px; background: white; padding: 10px;">

    <div class="col-6">
        <h4> Game Informations </h4>
        <table id="gameDatatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th colspan="2" class="text-uppercase">Your Information</th>
                    <th colspan="2" class="text-uppercase">Opponent Information</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.GameItem != null)
                {
                    <tr>
                        <td class="font-weight-bold text-uppercase"> Nick Name  </td>
                        <td> @Model.GameItem.YourNickName </td>
                        <td class="font-weight-bold text-uppercase"> Nick Name  </td>
                        <td>
                            @Model.GameItem.OpponentNickName
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-uppercase"> Color  </td>
                        <td> @Model.GameItem.YourColor </td>
                        <td class="font-weight-bold text-uppercase"> Color  </td>
                        <td>
                            @Model.GameItem.OpponentColor
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-uppercase"> Score:  </td>
                        <td> @Model.GameItem.YourScore </td>
                        <td class="font-weight-bold text-uppercase"> Score  </td>
                        <td>
                            @Model.GameItem.OpponentScore
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>

    <div class="col-6">

        <h4> Game Quality Results </h4>
        <table id="gameQualityDatatable" class="table table-striped table-bordered" style="width:100%">

            <thead>
                <tr>
                    <th colspan="2" class="text-uppercase">Black Information</th>
                    <th colspan="2" class="text-uppercase">White Information</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.GameQualityItem != null)
                {

                    <tr>
                        <td class="font-weight-bold text-uppercase">
                            Quality:
                        </td>
                        <td>
                            @Model.GameQualityItem.QualityOfBlackPlayer
                        </td>
                        <td class="font-weight-bold text-uppercase">
                            Quality:
                        </td>
                        <td>
                            @Model.GameQualityItem.QualityOfWhitePlayer
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-uppercase">
                            Blunder Count:
                        </td>
                        <td>
                            @Model.GameQualityItem.BlackBlunderCount
                        </td>
                        <td class="font-weight-bold text-uppercase">
                            Blunder Count:
                        </td>
                        <td>
                            @Model.GameQualityItem.WhiteBlunderCount
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-uppercase">
                            Inaccuracies Count:
                        </td>
                        <td>
                            @Model.GameQualityItem.BlackInaccuraciesCount
                        </td>
                        <td class="font-weight-bold text-uppercase">
                            Inaccuracies Count:
                        </td>
                        <td>
                            @Model.GameQualityItem.WhiteInaccuraciesCount
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-uppercase">
                            Mistake Count:
                        </td>
                        <td>
                            @Model.GameQualityItem.BlackMistakeCount
                        </td>
                        <td class="font-weight-bold text-uppercase">
                            Mistake Count:
                        </td>
                        <td>
                            @Model.GameQualityItem.WhiteMistakeCount
                        </td>
                    </tr>

                }
                else
                {
                    <tr><td colspan="4"> No quality data is available! </td></tr>
                }
            </tbody>
        </table>

    </div>

    <div class="col-6">
        <h4> All Game Moves </h4>
        <table id="gameMovesTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Move Number</th>
                    <th>Color</th>
                    <th>Move</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.GameMoveList.Any())
                {
                    foreach (var row in Model.GameMoveList)
                    {

                        <tr>
                            <td>
                                @row.MoveNo
                            </td>
                            <td>
                                @row.Color
                            </td>
                            <td>
                                @row.Move
                            </td> 

                        </tr>


                    }
                }
                else
                {
                    <tr><td colspan="5"> No analyze data is available! </td></tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-6">

        <h4> Game Analyze Results </h4>
        <table id="gameDetailDatatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Game Move Number</th>
                    <th>Your Move</th>
                    <th>Type</th>
                    <th>Suggested Move</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.GameAnalyzeList.Any())
                {
                    foreach (var row in Model.GameAnalyzeList)
                    {

                        <tr>
                            <td>
                                @row.GameMoveNumber
                            </td>
                            <td>
                                @row.YourMove
                            </td>
                            <td>
                                @row.Type
                            </td>
                            <td>
                                @row.SuggestedMove
                            </td>

                        </tr>


                    }
                }
                else
                {
                    <tr><td colspan="5"> No analyze data is available! </td></tr>
                }
            </tbody>
        </table>

    </div>
       
</div>



